.edit-button{
	padding: 10px;
	position: relative;
	z-index: 999;
	border: navajowhite;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s all;
	color: rgb(255, 0, 0);
	&.editable-btn{
		color: #fff;
		background: #689cc7;
		&:hover{
			background: #135e96;
			border-color: #135e96;
		}
	}
	&:hover{
		color: #fff;
		background: rgb(255, 0, 0);
	}
}

.pqe-window-opened{
	&.opacity-0{
		opacity: 0;
		visibility: hidden;
	}
}